.header .container {
    padding: unset;
}
.main-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    position: relative;
}
.header-icon {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #DB1C0B;
    padding: 10px 34px;
    border: 2px solid #DB1C0B;
    display: inline-block;
    border-radius: 40px;
    background-color: white;
    cursor: pointer;
}
.header-icon.two {
    padding: 10px 16px;
}
.logo {
    max-width: 380px;
    flex: 380px;
    cursor: pointer;
}
.menu-bar {
    max-width: 20px;
    min-width: 20px;
    height: 12px;
    display: none;
    cursor: pointer;
}
.mega-menu-wrapper {
    display: none;
}
.mega-menu-list.one {
    position: absolute;
    top: 90px;
    left: 0;
    max-width: 310px;
    padding-left: 50px;
    border-radius: 0px 0px 40px 0px;
    overflow: hidden;
    display: unset;
}
.mega-menu-list {
    position: absolute;
    top: 90px;
    left: 0;
    background-color: #17146B;
    width: 100%;
    z-index: 999;
    padding-block: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mega-items.one{
    display: flex;
    justify-content: start;
}
.mega-items {
    display: flex;
    justify-content: center;
}
.mega-link {
    font-family: ICBM SS-20;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    max-width: 200px;
    min-width: 200px;
    padding-block: 18px;
    display: inline-block;
    margin-bottom: 15px;
    color: #17146B;
    background-color: white;
}
/* ------------/////////---------!!-HEADER-MEDIA-QUIRY-START-HERE-!!----------//////////---------------
------------/////////---------!!-------------------------------!!----------//////////--------------- */
@media screen and (max-width:1260px) {
    .main-wrap {
        padding-inline: 40px;
    }
    .header-icon {
        font-size: 18px;
    }   
    .mega-menu-list.one {
        padding-left: 40px; 
    }
}
@media screen and (max-width:991px) {
    .main-wrap {
        padding-inline: 30px;
    }
    .header-icon {
        font-size: 16px;
        font-weight: 800;
        padding: 8px 22px;
    }
    .header-icon.two {
        padding: 8px 14px;
    }
    .logo {
        max-width: 330px;
        flex: 330px;
    }
    .mega-menu-list.one {
        padding-left: 30px; 
    }
}
@media screen and (max-width:767px) {
    .main-wrap {
        padding-inline: 20px;
    }
    .header-icon {
        display: none;
    }
    .desktop-mega-menu-wrapper {
        display: none;
    }
    .mega-menu-wrapper {
        display: block;
    }
    .menu-bar {
        max-width: 40px;
        height: 20px;
        z-index: 99;
        display: block;
    }
    .logo {
        max-width: 290px;
        flex: 290px;
    }
}
@media screen and (max-width:560px) {
    .main-wrap {
        padding-inline: 16px;
    }
    .logo {
        max-width: 250px;
        flex: 250px;
    }
    .menu-bar {
        max-width: 35px;
        min-width: 35px;
        height: 17px;
    }
}
/* ------------/////////---------!!-BANNER-SECTION-START-HERE-!!----------//////////---------------
------------/////////------------!!---------------------------!!----------//////////--------------- */

.main-wrapper {
    background: linear-gradient(94.66deg, #FFDE66 -11.09%, #FEC218 63.45%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:37px 100px;
    position: relative;
    overflow: hidden;
}
.banner-alpha {
    max-width: 380px;
    position: relative;
    z-index: 99;
}
.main-title {
    font-family: ICBM SS-20;
    font-size: 80px;
    font-weight: 400;
    line-height: 0.93;
    color: #DB1C0B;
    margin-bottom: 16px;
}
.banner-para {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    color: #17146B;
}
.banner-beta {
    max-width: 580px;
    margin-right: 50px;
}
.banner-main-baller-image {
    position: relative;
    z-index: 99;
}
.banner-back-image {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    animation: rotate 2s infinite linear;
}
/* @keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
} */
.marque-wrapper {
    padding-block: 28px;
    background-color: #8B0B00;
    border-bottom: 5px solid #FEC218;
    overflow: hidden;
}
.banner-marque {
    display: flex;
    align-items: center;
    animation: marque 10s infinite linear ;
}
.marque-heads {
    font-family: ICBM SS-20;
    font-size: 30px;
    font-weight: 400;
    line-height: 0.8;
    letter-spacing: 1px;
    color: white;
    margin-right: 30px;
    min-width: fit-content;
    max-width: fit-content;
    width: 100%;
}
.marque-svg {
    max-width: 26px;
    min-width: 26px;
    height: 26px;
    margin-right: 30px;
}
@keyframes marque {
    0% {
      transform: translateX(100%);
    }
  
    100% {
      transform: translateX(-100%);
    }
  }
  
/* ------------/////////---------!!-BANNER-MEDIA-QUIRY-START-HERE-!!----------//////////---------------
------------/////////------------!!-------------------------------!!----------//////////--------------- */
@media screen and (max-width:1260px) {
    .main-wrapper {
        padding: 37px 60px;
    }
    .banner-alpha {
        max-width: 300px;
    }
    .main-title {
        font-size: 65px;
        margin-bottom: 12px;
    }
    .banner-para {
        font-size: 14px;
    }
    .banner-beta {
        max-width: 500px;
        margin-right: 30px;
    }
    .marque-heads {
        font-size: 27px;
    }
}
@media screen and (max-width:991px) {
    .main-wrapper {
        padding: 37px 45px;
    }
    .banner-alpha {
        max-width: 250px;
    }
    .main-title {
        font-size: 50px;
    }
    .banner-para {
        font-size: 12px;
    }
    .banner-beta {
        max-width: 400px;
        margin-right: 20px;
    }
    .marque-heads {
        font-size: 20px;
    }
    .marque-svg {
        max-width: 24px;
        min-width: 24px;
        height: 24px;
    }
}
@media screen and (max-width:767px) {
    .main-wrapper {
        flex-direction: column;
        padding: 50px 45px;
    }
    .banner-back-image {
        top: unset;
        right: 50%;
        transform: translateX(37%);
        bottom: 0;
        width: 100%;
    }
    .banner-beta {
        max-width: 310px;
        margin-right: 20px;
    }
    .banner-alpha {
        max-width: 302px;
        text-align: center;
    }
    .main-title {
        font-size: 48px;
    }
    .banner-para {
        font-size: 14px;
        text-align: center;
    }
    .marque-heads {
        min-width: 660px;
        font-size: 18px;
    }
    .marque-wrapper {
        padding-block: 13px;
    }
}

/* ------------/////////---------!!-BOOKING-SECTION-START-HERE-!!----------//////////---------------
------------/////////------------!!----------------------------!!----------//////////--------------- */
.bookings {
    padding-top: 90px;
    padding-bottom: 30px;
}
.booking-main-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.booking-title {
    font-family: ICBM SS-20;
    font-size: 60px;
    font-weight: 400;
    line-height: 1.08;
    text-transform: uppercase;
    max-width: 310px;
    color: white;
}
.our-advantage-wrapper {
    max-width: 716px;
    flex: 716px;
}
.advantage-inner-wrapper {
    margin-bottom: 24px;
    border-bottom: 2px solid white;
}
.head-and-svg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
    cursor: pointer;
}
.heads {
    font-family: ICBM SS-20;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 1px;
    color: white;
    max-width: fit-content;
}
.svgs-wrapper {
    position: relative;
    max-width: 16px;
    min-width: 16px;
    height: 24px;
}
.add-svg.after {
    display: none;
}
 .add-svg {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
}
.para {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
    color: white;
    margin-bottom: 20px;
}
.video-inner-wrapper {
    position: relative;
    margin-bottom: 70px;
}
.video-icon {
    max-width: 70px;
    min-width: 70px;
    height: 70px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.video-svg {
    max-width: 38px;
    height: 38px;
    margin-left: 5px;
}
.video-side-image {
    max-width: 195px;
    position: absolute;
    top: -100px;
    left: 0;
}
.strike-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 75px;
    font-weight: 400;
    line-height: 0.8;
    color: #FEC218;
    text-align: center;
    margin-bottom: 20px;
}
.strike-para {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
    text-align: center;
    color: white;
    margin-bottom: 30px;
}
.book-us-btn {
    font-family: ICBM SS-20;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    color: white;
    letter-spacing: 1px;
    text-align: left;
    padding: 10px 32px;
    border: 1px solid white;
    border-radius: 40px;
    max-width: fit-content;
    margin: 0 auto;
    display: block;
}
/* ------------/////////---------!!-BOOKING-MEDIA-QUIRY-START-HERE-!!----------//////////---------------
------------/////////------------!!--------------------------------!!----------//////////--------------- */
@media screen and (max-width:1260px) {
    .booking-title {
        font-size: 50px;
        max-width: 270px;
    }
    .our-advantage-wrapper {
        max-width: 600px;
        flex: 600px;
    }
    .heads {
        font-size: 18px;
    }
    .strike-title {
        font-size: 62px;
    }
    .video-side-image {
        max-width: 180px;
    }
}
@media screen and (max-width:991px) {
    .booking-title {
        font-size: 42px;
        max-width: 240px;
    }
    .our-advantage-wrapper {
        max-width: 600px;
        flex: 600px;
        width: 100%;
    }
    .heads {
        font-size: 15px;
    }
    .para {
        font-size: 14px;
    }
    .strike-title {
        font-size: 56px;
    }
    .strike-para {
        font-size: 16px;
    }
    .video-side-image {
        max-width: 150px;
    }
    .book-us-btn {
        font-size: 16px;
    }
    .video-icon {
        max-width: 60px;
        min-width: 60px;
        height: 60px;
    }
    .video-svg {
        max-width: 31px;
        height: 31px;
    }
}
@media screen and (max-width:767px) {
    .bookings .container {
        padding: 0px 40px;
    }
    .booking-main-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .booking-title {
        font-size: 30px;
        max-width: 300px;
        margin-bottom: 30px;
    }
    .our-advantage-wrapper {
        flex: 400px;
    }
    .video-side-image {
        display: none;
    }
    .strike-title {
        font-size: 35px;
    }
    .strike-para {
        font-size: 13px;
        max-width: 271px;
        margin: 0 auto 30px;
    }
    .video-icon {
        max-width: 42px;
        min-width: 42px;
        height: 42px;
    }
    .video-svg {
        max-width: 23px;
        height: 23px;
    }
    .book-us-btn {
        font-size: 14px;
    }
}
@media screen and (max-width:480px) {
    .strike-title {
        font-size: 31px;
    }
    .book-us-btn {
        font-size: 13px;
    }
}
@media screen and (max-width:414px) {
    .bookings .container {
        padding: 0px 30px;
    }
    .booking-title {
        font-size: 25px;
    }
    .heads {
        font-size: 14px;
    }
    .strike-title {
        font-size: 25px;
    }
}
/* ------------/////////---------!!-FOOTER-SECTION-START-HERE-!!----------//////////---------------
------------/////////------------!!---------------------------!!----------//////////--------------- */
.footer .container {
    padding: unset;
}
.footer-main-wrapper {
    position: relative;
}
.footer-main-bg-image {
    position: relative;
    z-index: 9;
}
.footer-main-bg-image.after {
    display: none;
}
.footer-small-bg {
    position: absolute;
    top: -2vw;
}
.footer-small-bg.after {
    display: none;
}
.footer-inner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%,-47%);
    z-index: 99;
    width: 100%;
}
.footer-images-alpha {
    padding-right: 6vw;
}
.footer-ball-image {
    max-width: 18.6vw;
    margin-bottom: 33px;
}
.footer-logo {
    max-width: 44.3vw;
}
.footer-beta {
    position: relative;
    max-width: 39.2vw;
}
.footer-menu-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 21vw;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 58%;
    transform: translate(-50%,-50%);
    width: 100%;
}
.links {
    font-family: sans-serif;
    font-size: 1vw;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 1px;
    color: #17146B;
    text-transform: uppercase;
    padding-inline: 0.9vw;
    display: inline-block;
    margin-bottom: 20px;
}
.last-drop-images-wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 50px;
    z-index: 99;
}
.drop-in-image {
    max-width: 84px;
}
.inning-dots-image {
    min-height: 10px;
    height: 10px;
}
.copy-right-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 20px;
    z-index: 99;
    width: 100%;
    padding-inline: 50px;
}
.copy-right {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    text-transform: capitalize;
    color: white;
    padding-left: 150px;
}
.copy-right-last-image {
    max-width: 176px;
}
/* ------------/////////---------!!-FOOTER-MEDIA-QUIRY-START-HERE-!!----------//////////---------------
------------/////////------------!!-------------------------------!!----------//////////--------------- */
@media screen and (max-width:1260px) {
    .drop-in-image {
        max-width: 60px;
    }
    .last-drop-images-wrapper {
        bottom: 40px;
    }
    .copy-right-wrapper {
        bottom: 14px;
    }
    .copy-right-last-image {
        max-width: 140px;
    }
}
@media screen and (max-width:1070px) {
    .links {
        font-size: 0.9vw;
        margin-bottom: 10px;
    }
}
@media screen and (max-width:991px) {
    .drop-in-image {
        max-width: 40px;
    }
    .inning-dots-image {
        min-height: 7px;
        height: 7px;
    }
    .copy-right {
        font-size: 14px;
    }
    .copy-right-last-image {
        max-width: 110px;
    }
}
@media screen and (max-width:767px) {
    .footer-inner-wrapper {
        flex-direction: column;
        justify-content: center;
    }
    .footer-ball-image {
        display: none;
    }
    .footer-main-bg-image.before {
        display: none;
    }
    .footer-main-bg-image.after {
        display: block;
        margin-top: unset;
    }
    .footer-small-bg.before {
        display: none;
    }
    .footer-small-bg.after {
        display: block;
    }
    .footer-logo {
        max-width: 310px;
        margin-bottom: 20px;
    }
    .footer-beta {
        max-width: 310px;
    }
    .footer-menu-list {
        max-width: 210px;
    }
    .links {
        font-size: 10px;
        margin-bottom: 12px;
        padding-inline: 7px;
    }
    .copy-right {
        padding-left: 50px;
    }
}
@media screen and (max-width:560px) {
    .copy-right {
        font-size: 12px;
        padding-left: unset;
    }
    .copy-right-wrapper {
        bottom: 10px;
        padding-inline: 30px;
    }
}